In [1]:
from bs4 import BeautifulSoup as bs
import requests as req
from pprint import *
bsr = bs(open("sh_map_v1.0.osm"),"lxml")

nodes = bsr.find_all('node')
print(len(nodes))

446258

In [2]:
import pandas as pd
datalist=[]
for node in nodes:
    datalist.append([node['id'],node['lat'],node['lon']])
df1=pd.DataFrame(datalist,columns=['origin_id','lat','lon'])
df1['new_id']=df1.index
df1

         origin_id         lat          lon  new_id
0         29583117  31.1110347  121.3798759       0
1         29583119  31.1130409  121.3817942       1
2         29583122  31.1236993  121.3894210       2
3         29583123  31.1249980  121.3904357       3
4         29583124  31.1286618  121.3943607       4
5         29583125  31.1344869  121.4004563       5
6         29583126  31.1369635  121.4028790       6
7         29583127  31.1379874  121.4039203       7
8         30198387  31.1122153  121.3567958       8
9         30198389  31.1139604  121.3558934       9
10        30198391  31.1146407  121.3554468      10
11        30198392  31.1214097  121.3505874      11
12        30198395  31.1358334  121.3400087      12
13        30198397  31.1409843  121.3361932      13
14        30198398  31.1426972  121.3349610      14
15        30198402  31.1590937  121.3246693      15
16        30198403  31.1651553  121.3208770      16
17        30198404  31.1758543  121.3141485      17
18        30198405  31.1848195  121.3085034      18
19        30198406  31.1948955  121.3021611      19
20        30198407  31.2013601  121.2981258      20
21        30198408  31.2023840  121.2976273      21
22        30198409  31.2039526  121.2971070      22
23        30198411  31.2190324  121.2919044      23
24        30198412  31.2199269  121.2918361      24
25        30198413  31.2211386  121.2919138      25
26        30198414  31.2222125  121.2921176      26
27        30198415  31.2301747  121.2943720      27
28        30198416  31.2309218  121.2944482      28
29        30198417  31.2316944  121.2944593      29
...            ...         ...          ...     ...
446228  5027752075  31.3263420  121.2817053  446228
446229  5027752076  31.3271554  121.2760016  446229
446230  5027752077  31.3272928  121.2764361  446230
446231  5027752078  31.3267109  121.2767580  446231
446232  5027752079  31.3266284  121.2762376  446232
446233  5027766793  31.3265215  121.2812138  446233
446234  5027766794  31.3265868  121.2814082  446234
446235  5027766795  31.3263107  121.2815397  446235
446236  5027766796  31.3262523  121.2813398  446236
446237  5027766797  31.3270095  121.2785057  446237
446238  5027766798  31.3272272  121.2791253  446238
446239  5027766799  31.3273005  121.2793453  446239
446240  5027766800  31.3273165  121.2793775  446240
446241  5027766801  31.3268331  121.2793801  446241
446242  5027766802  31.3266108  121.2786908  446242
446243  5027766803  31.3259349  121.2790154  446243
446244  5027766804  31.3262099  121.2798227  446244
446245  5027766805  31.3259143  121.2799675  446245
446246  5027766806  31.3256348  121.2791521  446246
446247  5027766807  31.3259835  121.2791578  446247
446248  5027766808  31.3259742  121.2791305  446248
446249  5027766809  31.3261280  121.2798628  446249
446250  5027766810  31.3260672  121.2798926  446250
446251  5027766811  31.3256528  121.2791439  446251
446252  5027766812  31.3259458  121.2790473  446252
446253  5027766813  31.3259600  121.2790889  446253
446254  5027766814  31.3260163  121.2792542  446254
446255  5027766815  31.3260304  121.2792956  446255
446256  5027766816  31.3256903  121.2793140  446256
446257  5027772757  31.2289094  121.4014580  446257

[446258 rows x 4 columns]

In [3]:
print df1.lat.max()
print df1.lat.min()

31.5703252
30.9466593

In [4]:
print df1.lon.max()
print df1.lon.min()

121.8071166
120.8671296

In [5]:
df1.to_csv('Nodes.csv',index=False)

In [20]:
# None sense...
# length=len(df1)
# file=open('WA_Nodes.txt','wb')
# for i in range(length):
#     print>>file,    df1.loc[i,'new_id'],df1.loc[i,'lat'],df1.loc[i,'lon']

# file.close()

In [6]:
ways = bsr.find_all('way')
way_kinds = ['motorway','motorway_link','primary','primary_link',\
            'secondary','secondary_link','tertiary', 'tertiary_link','residential','living_street',\
            'service','trunk','trunk_link','unclassified','road','track']

highways = []
way_types = set()
pc = 0
for w in ways:
    flag=False
    for tag in w.find_all('tag'):
        if tag['k']=='highway':
            if tag['v'] in way_kinds:
                flag=True
                break
            else:
                if tag['v'] not in way_types:
#                     print w
                    pc += 1
                way_types.add(tag['v'])
                
    if flag:
        highways.append(w)
# highways[:5]
print way_types

set(['bus_stop', 'bus_guideway', 'proposed', 'footway', 'platform', 'cycleway', 'pedestrian', 'construction', 'steps', 'bridleway', 'crossing', 'path', 'yes', 'raceway'])

In [7]:
import pandas as pd
from collections import defaultdict
segMap = defaultdict(int)

def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n-1):
        yield l[i:i+n]
final_list=[]
for w in highways:

    isOneway = False
    category = 'unclassified'
    for tag in w.find_all('tag'):
        if tag['k']=='oneway' and tag['v'] =='yes':
            isOneway = True
        if tag['k']=='highway':
            category = tag['v']

    nodes=[nd['ref'] for nd in w.find_all('nd')]
    for node in nodes:
        segMap[node] += 1
    len_nodes=len(nodes)
   
    
    if  isOneway == False:
        

#         nodes_list=list(chunks(nodes,4))
#         if(len(nodes_list[-1])==1):
#             nodes_list.pop()
            
#         for nds in nodes_list:
        final_list.append([1, False,  category,nodes])
        final_list.append([1, False,  category,nodes[::-1]])
        

    else:
        final_list.append([1, True,  category,nodes])
#         nodes_list=list(chunks(nodes,4))
#         if(len(nodes_list[-1])==1):
#             nodes_list.pop()    
#         for nds in nodes_list:
#             final_list.append([1, isOneway,  category,nds])
junctions = set()       
for k in segMap.keys():
    if segMap[k] > 1:
        junctions.add(k)
    
print len(junctions)
df = pd.DataFrame(final_list,columns=['id','oneway','category','nodes'])
df

37589

,id,oneway,category,nodes
0,1,False,residential,"[115443169, 1930275790, 115443141, 115443115, ..."
1,1,False,residential,"[1930275776, 119891632, 115442946, 115443077, ..."
2,1,False,residential,"[614391691, 73569654, 88047791, 100115120, 100..."
3,1,False,residential,"[61104104, 101102967, 88082282, 66908824, 6690..."
4,1,True,primary,"[62542556, 1768006193, 558640325, 1768006012, ..."
5,1,True,primary_link,"[62550447, 62551805]"
6,1,True,trunk_link,"[62901951, 4375169071, 3559962135]"
7,1,True,trunk,"[71121979, 1721531798, 1721531811, 1721531799,..."
8,1,False,residential,"[824481103, 62924733, 3814803442, 94820531]"
9,1,False,residential,"[94820531, 3814803442, 62924733, 824481103]"
10,1,True,trunk_link,"[63242803, 600569871, 64801698, 1723132674, 64..."
11,1,True,primary,"[63294544, 93792992]"
12,1,True,tertiary,"[95350301, 62540346, 91207679, 602377817, 8754..."
13,1,True,tertiary,"[848698181, 848698213, 1782376803, 478379149, ..."
14,1,True,primary,"[63301124, 87739322, 85654851, 3662230614, 633..."
15,1,True,secondary,"[63303828, 495771062, 495771302, 63305187, 848..."
16,1,True,secondary,"[63308065, 1785697748, 476912513, 476913090, 4..."
17,1,True,secondary,"[63308077, 1785697753, 63309230, 1785697747, 6..."
18,1,True,primary,"[63308065, 1785697758, 63312195, 1785697720, 2..."
19,1,True,trunk,"[94550168, 1873590614, 1873590556, 1873590578,..."
20,1,False,residential,"[64806543, 64806544, 4239813530, 4239813533, 6..."
21,1,False,residential,"[573259240, 4239813536, 4239813535, 4239813534..."
22,1,True,primary,"[616806539, 640199097, 565239556, 565239561, 6..."
23,1,False,tertiary,"[835125221, 835125238, 835125240, 835125242, 8..."
24,1,False,tertiary,"[835125251, 835125248, 835125246, 835125244, 8..."
25,1,False,service,"[64815510, 88062212, 64816346, 64816347, 64816..."
26,1,False,service,"[64816352, 64816362, 64816361, 64816360, 64816..."
27,1,False,service,"[64817039, 64817367, 64817036]"
28,1,False,service,"[64817036, 64817367, 64817039]"
29,1,True,primary,"[65667398, 65667396, 65667395, 1730218044, 335..."
...,...,...,...,...
44210,1,True,trunk_link,"[5016366580, 850287499]"
44211,1,True,trunk_link,"[5016366581, 1723083648]"
44212,1,True,trunk_link,"[5016366582, 1723083625]"
44213,1,True,trunk_link,"[1723132738, 1723132683, 1723132740]"
44214,1,True,trunk,"[109758877, 109732514, 109732549, 109732574, 1..."
44215,1,True,trunk,"[90164416, 86688834, 86688835]"
44216,1,True,trunk,"[92600752, 844705903, 92600767, 92600777, 1754..."
44217,1,True,trunk_link,"[1754441786, 1754441738, 827645860, 827645861,..."
44218,1,True,trunk_link,"[827645863, 1754441781]"
44219,1,False,tertiary,"[5002541034, 476794486]"
44220,1,False,tertiary,"[476794486, 5002541034]"
44221,1,True,primary,"[5002541034, 5002541033, 5002541031]"
44222,1,True,primary,"[5002561614, 5017787783, 5017787789, 5017787788]"
44223,1,False,tertiary,"[5021594340, 5021594341, 5021594342, 3492884489]"
44224,1,False,tertiary,"[3492884489, 5021594342, 5021594341, 5021594340]"
44225,1,False,service,"[5022044496, 5022044498]"
44226,1,False,service,"[5022044498, 5022044496]"
44227,1,False,service,"[5022044499, 5022044500]"
44228,1,False,service,"[5022044500, 5022044499]"
44229,1,False,service,"[5022044498, 5022044499]"
44230,1,False,service,"[5022044499, 5022044498]"
44231,1,False,service,"[5022044501, 5022044497]"
44232,1,False,service,"[5022044497, 5022044501]"
44233,1,False,service,"[5022044500, 5022044501]"
44234,1,False,service,"[5022044501, 5022044500]"
44235,1,True,secondary,"[565166803, 5022044659, 5022044660, 5022044661..."
44236,1,True,secondary,"[5022044677, 5022044676, 5022044675, 502204467..."
44237,1,True,secondary,"[5022044662, 266083269]"
44238,1,False,primary,"[5027680432, 3930645456]"
44239,1,False,primary,"[3930645456, 5027680432]"

In [8]:
final_list=[]
for index, row in df.iterrows():
#     print index, row['nodes']
    st = 0;
    node_list = []
    for i in range(1, len(row['nodes']) - 1):
        if row['nodes'][i] in junctions:
            node_list.append(row['nodes'][st:i+1])
            st = i
    node_list.append(row['nodes'][st:len(row['nodes'])])
    for nst in node_list:
        final_list.append([1, row['oneway'], row['category'], nst ]) 
df = pd.DataFrame(final_list,columns=['id','oneway','category','nodes'])
df

,id,oneway,category,nodes
0,1,False,residential,"[115443169, 1930275790]"
1,1,False,residential,"[1930275790, 115443141, 115443115]"
2,1,False,residential,"[115443115, 115443077]"
3,1,False,residential,"[115443077, 115442946, 119891632]"
4,1,False,residential,"[119891632, 1930275776]"
5,1,False,residential,"[1930275776, 119891632]"
6,1,False,residential,"[119891632, 115442946, 115443077]"
7,1,False,residential,"[115443077, 115443115]"
8,1,False,residential,"[115443115, 115443141, 1930275790]"
9,1,False,residential,"[1930275790, 115443169]"
10,1,False,residential,"[614391691, 73569654]"
11,1,False,residential,"[73569654, 88047791, 100115120]"
12,1,False,residential,"[100115120, 100112298]"
13,1,False,residential,"[100112298, 88064245, 73569583]"
14,1,False,residential,"[73569583, 73213800]"
15,1,False,residential,"[73213800, 88063950, 88080908, 66909379]"
16,1,False,residential,"[66909379, 66908824]"
17,1,False,residential,"[66908824, 88082282, 101102967]"
18,1,False,residential,"[101102967, 61104104]"
19,1,False,residential,"[61104104, 101102967]"
20,1,False,residential,"[101102967, 88082282, 66908824]"
21,1,False,residential,"[66908824, 66909379]"
22,1,False,residential,"[66909379, 88080908, 88063950, 73213800]"
23,1,False,residential,"[73213800, 73569583]"
24,1,False,residential,"[73569583, 88064245, 100112298]"
25,1,False,residential,"[100112298, 100115120]"
26,1,False,residential,"[100115120, 88047791, 73569654]"
27,1,False,residential,"[73569654, 614391691]"
28,1,True,primary,"[62542556, 1768006193, 558640325]"
29,1,True,primary,"[558640325, 1768006012]"
...,...,...,...,...
94588,1,True,trunk,"[844705903, 92600767, 92600777, 1754441758]"
94589,1,True,trunk,"[1754441758, 92601369, 461764248]"
94590,1,True,trunk_link,"[1754441786, 1754441738, 827645860, 827645861,..."
94591,1,True,trunk_link,"[827646916, 1618053320, 1618053317, 1618053313..."
94592,1,True,trunk_link,"[827645863, 1754441781]"
94593,1,False,tertiary,"[5002541034, 476794486]"
94594,1,False,tertiary,"[476794486, 5002541034]"
94595,1,True,primary,"[5002541034, 5002541033]"
94596,1,True,primary,"[5002541033, 5002541031]"
94597,1,True,primary,"[5002561614, 5017787783, 5017787789, 5017787788]"
94598,1,False,tertiary,"[5021594340, 5021594341, 5021594342, 3492884489]"
94599,1,False,tertiary,"[3492884489, 5021594342, 5021594341, 5021594340]"
94600,1,False,service,"[5022044496, 5022044498]"
94601,1,False,service,"[5022044498, 5022044496]"
94602,1,False,service,"[5022044499, 5022044500]"
94603,1,False,service,"[5022044500, 5022044499]"
94604,1,False,service,"[5022044498, 5022044499]"
94605,1,False,service,"[5022044499, 5022044498]"
94606,1,False,service,"[5022044501, 5022044497]"
94607,1,False,service,"[5022044497, 5022044501]"
94608,1,False,service,"[5022044500, 5022044501]"
94609,1,False,service,"[5022044501, 5022044500]"
94610,1,True,secondary,"[565166803, 5022044659]"
94611,1,True,secondary,"[5022044659, 5022044660, 5022044661, 502204467..."
94612,1,True,secondary,"[5022044678, 5022044677]"
94613,1,True,secondary,"[5022044677, 5022044676, 5022044675, 502204467..."
94614,1,True,secondary,"[5022044662, 483172700]"
94615,1,True,secondary,"[5022044662, 266083269]"
94616,1,False,primary,"[5027680432, 3930645456]"
94617,1,False,primary,"[3930645456, 5027680432]"

In [9]:
df['id']=df.index
df['nodes']=df['nodes'].apply(lambda x:list(x))
df

,id,oneway,category,nodes
0,0,False,residential,"[115443169, 1930275790]"
1,1,False,residential,"[1930275790, 115443141, 115443115]"
2,2,False,residential,"[115443115, 115443077]"
3,3,False,residential,"[115443077, 115442946, 119891632]"
4,4,False,residential,"[119891632, 1930275776]"
5,5,False,residential,"[1930275776, 119891632]"
6,6,False,residential,"[119891632, 115442946, 115443077]"
7,7,False,residential,"[115443077, 115443115]"
8,8,False,residential,"[115443115, 115443141, 1930275790]"
9,9,False,residential,"[1930275790, 115443169]"
10,10,False,residential,"[614391691, 73569654]"
11,11,False,residential,"[73569654, 88047791, 100115120]"
12,12,False,residential,"[100115120, 100112298]"
13,13,False,residential,"[100112298, 88064245, 73569583]"
14,14,False,residential,"[73569583, 73213800]"
15,15,False,residential,"[73213800, 88063950, 88080908, 66909379]"
16,16,False,residential,"[66909379, 66908824]"
17,17,False,residential,"[66908824, 88082282, 101102967]"
18,18,False,residential,"[101102967, 61104104]"
19,19,False,residential,"[61104104, 101102967]"
20,20,False,residential,"[101102967, 88082282, 66908824]"
21,21,False,residential,"[66908824, 66909379]"
22,22,False,residential,"[66909379, 88080908, 88063950, 73213800]"
23,23,False,residential,"[73213800, 73569583]"
24,24,False,residential,"[73569583, 88064245, 100112298]"
25,25,False,residential,"[100112298, 100115120]"
26,26,False,residential,"[100115120, 88047791, 73569654]"
27,27,False,residential,"[73569654, 614391691]"
28,28,True,primary,"[62542556, 1768006193, 558640325]"
29,29,True,primary,"[558640325, 1768006012]"
...,...,...,...,...
94588,94588,True,trunk,"[844705903, 92600767, 92600777, 1754441758]"
94589,94589,True,trunk,"[1754441758, 92601369, 461764248]"
94590,94590,True,trunk_link,"[1754441786, 1754441738, 827645860, 827645861,..."
94591,94591,True,trunk_link,"[827646916, 1618053320, 1618053317, 1618053313..."
94592,94592,True,trunk_link,"[827645863, 1754441781]"
94593,94593,False,tertiary,"[5002541034, 476794486]"
94594,94594,False,tertiary,"[476794486, 5002541034]"
94595,94595,True,primary,"[5002541034, 5002541033]"
94596,94596,True,primary,"[5002541033, 5002541031]"
94597,94597,True,primary,"[5002561614, 5017787783, 5017787789, 5017787788]"
94598,94598,False,tertiary,"[5021594340, 5021594341, 5021594342, 3492884489]"
94599,94599,False,tertiary,"[3492884489, 5021594342, 5021594341, 5021594340]"
94600,94600,False,service,"[5022044496, 5022044498]"
94601,94601,False,service,"[5022044498, 5022044496]"
94602,94602,False,service,"[5022044499, 5022044500]"
94603,94603,False,service,"[5022044500, 5022044499]"
94604,94604,False,service,"[5022044498, 5022044499]"
94605,94605,False,service,"[5022044499, 5022044498]"
94606,94606,False,service,"[5022044501, 5022044497]"
94607,94607,False,service,"[5022044497, 5022044501]"
94608,94608,False,service,"[5022044500, 5022044501]"
94609,94609,False,service,"[5022044501, 5022044500]"
94610,94610,True,secondary,"[565166803, 5022044659]"
94611,94611,True,secondary,"[5022044659, 5022044660, 5022044661, 502204467..."
94612,94612,True,secondary,"[5022044678, 5022044677]"
94613,94613,True,secondary,"[5022044677, 5022044676, 5022044675, 502204467..."
94614,94614,True,secondary,"[5022044662, 483172700]"
94615,94615,True,secondary,"[5022044662, 266083269]"
94616,94616,False,primary,"[5027680432, 3930645456]"
94617,94617,False,primary,"[3930645456, 5027680432]"

In [10]:
df.to_csv('highway.csv',index=False)